.idea/

# Ignore all audio files with the extentions '.wav'
/**/*.wav

# Ignore the saved models
/**/saved_models/*

# Ignore training Pytorch checkpoints
*.ckpt
*.pth

# All folders with a .keep should not be ignored
!/**/.keep

# Ignore test with MNIST dataset
network_modelling/dataset/