.idea/

# Ignore all audio files with the extentions '.wav'
/**/*.wav

# Ignore any saves folder
/**/saves


# Ignore Pytorch checkpoints
*.ckpt
*.pth

# All folders with a .keep should not be ignored
!/**/.keep

# Ignore test with MNIST dataset
network_modelling/dataset/

# Ignore main_2.py, a debugging entry while main.py is busy
network_modelling/main_2.py